*

!*/

!*.json
!*.yaml
!*.ts
!*.cts
!*.mts
!*.js
!*.cjs
!*.mjs

!.prettierrc

.idea/
.run/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

dist/

node_modules/

pnpm-lock.yaml
