name: Push tag
on:
    push:
        tags:
            - 'v*'
permissions:
    contents: read
    id-token: write
jobs:
    publish:
        name: Publish
        runs-on: ubuntu-22.04
        if: false
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: CI
              uses: ./.github/actions/ci

            - name: Publish package
              working-directory: dist/shared-utils
              shell: bash
              run: |
                  if [[ "$GITHUB_REF_NAME" == *"-"* ]]; then
                      TAG="${GITHUB_REF_NAME#*-}"
                      TAG="${TAG%%.*}"
                  else
                      TAG="latest"
                  fi

                  pnpm publish --no-git-checks --tag "$TAG"
